<div class="back-link">
  <h2 class="account-profile-title">アカウントとプロフィールの設定</h2>
    <%= link_to "戻る", root_path, class: "account-edit-btn" %>
</div>
  <div class="account-card">
    <div class="card-body">
      <h2 class="card-title">アカウント情報</h2>

      <p class="account-info"><strong>メールアドレス：</strong> <%= @user.email %></p>
      <p class="account-info"><strong>パスワード：</strong> *********</p>

      <div class="card-actions justify-end">
        <%= link_to "アカウント編集（メール / パスワード）", edit_user_registration_path, class: "account-edit-btn" %>
      </div>
    </div>
  </div>

<div class="account-profile">
  <h2 class="card-title-profile">プロフィール情報</h2>
    <div class="profile-content">
      <div class="profile-avatar">
        <% if @profile.avatar.attached? %>
          <%= image_tag @profile.avatar, class: "profile-avatar" %>
        <% else %>
          <%= image_tag "default_cat_blue.png", class: "profile-avatar" %>
        <% end %>
      </div>

      <div class="profile-text">
        <p class="account-info" ><strong>プロフィール名：</strong>
          <%= @profile.profile_name.presence || @user.login_name %>
        </p>

        <p class="account-info" ><strong>自己紹介：</strong> 
          <%= truncate(@profile.introduction.presence || "未設定", length: 15, omission: '...') %>
        </p>

        <p class="account-info" ><strong>猫の数：</strong>
          <%= @profile.cat_count || 0 %>
        </p>
      </div>
    </div>

  <div class="card-actions-profile justify-end">
    <p><%= link_to "プロフィール編集", edit_profile_path(current_user),  class: "account-edit-btn" %></p>
  </div>
</div>
