<h1>アカウント情報</h1>

<div class="account-info">
  <p><strong>メールアドレス：</strong> <%= @user.email %></p>
  <p><strong>パスワード：</strong> *********</p>
</div>

<p>
  <%= link_to "アカウント編集（メール / パスワード）", edit_user_registration_path %>
</p>

<div class="account-profile">
  <h2>プロフィール</h2>

  <% if @profile.avatar.attached? %>
    <%= image_tag @profile.avatar, class: "profile-avatar" %>
  <% else %>
    <%= image_tag "default_cat_blue.png", class: "profile-avatar" %>
  <% end %>

  <p><strong>プロフィール名：</strong>
    <%= @profile.profile_name.presence || @user.login_name %>
  </p>

  <p><strong>自己紹介：</strong> 
  <%= @profile.introduction.presence || "未設定" %>
  </p>

  <p><strong>猫の数：</strong>
   <%= @profile.cat_count || 0 %>
  </p>
</div>

<div class="account-links">
  <p><%= link_to "プロフィール編集", edit_profile_path(current_user)%></p>
  <p><%= link_to "戻る", root_path %></p>
</div>

