<div class="container">
  <div class="top-card">
    <span class="badge">
      ～猫好きのコミュニティへようこそ～
    </span>

    <p class="text">
      キャットlogは猫好きのための掲示板アプリです。<br />
      あなたの愛猫のかわいい瞬間や、悩みを共有しましょう。
    </p>
  </div>
</div>

<p class="headline">最新の投稿</p>
<div class="post-list flex flex-wrap justify-center">
  <% @posts.each do |post| %>
    <div class="card bg-white">
      
      <!-- 画像部分の枠 -->
      <div class="post-image-wrapper">
        <% if post.image.attached? %>
          <%= image_tag post.image, class: "post-image", alt: post.title %>
        <% else %>
          <%= image_tag "no_image.png", class: "post-image", alt: "No image" %>
        <% end %>
      </div>

      <!-- カード本文 -->
      <div class="card-body">
        <div class="card-title">
          <%= link_to truncate(post.title, length: 15, omission: '...'), post_path(post) %>
        </div>
        <p>投稿者：<%= post.user.login_name %></p>
        <p><span class="material-symbols-outlined" style="font-size:16px; vertical-align:middle; margin-right:4px;">
          chat_bubble
        </span>
       <%= post.comments.count %>
       </p>
        <p><%= post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
        <div class="card-actions justify-end">
          <%= link_to "続きを読む", post_path(post), class: "btn btn-outline btn-info" %>
        </div>
      </div>

    </div>
  <% end %>
