<p class="headline">投稿一覧</p> <div class="post-list index-post-list">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="post-image-wrapper">
        <% if post.image.attached? %>
          <%= image_tag post.image %>
        <% else %>
          <%= image_tag "no_image.png", alt: "No image" %>
        <% end %>
      </div>

      <div class="post-card">
        <div class="card-title">
          <%= link_to truncate(post.title, length: 15, omission: '...'), post_path(post) %>
        </div>
        <p>投稿者：<%= post.user.login_name %></p>

        <%# --- コメントといいねを横並びにするエリア --- %>
        <div class="flex items-center justify-end gap-5 my-1">
          <%# コメント数表示 %>
          <div class="flex items-center text-gray-600">
            <span class="material-symbols-outlined icon-small">chat_bubble</span>
            <span class="count-text"><%= post.comments.count %></span>
          </div>

          <%# いいねボタン（Turbo Frameで囲んでリロードなしにする） %>
          <%= turbo_frame_tag dom_id(post, :like) do %>
            <div class="like-section">
              <% if user_signed_in? %>
                <% if post.liked_by?(current_user) %>
                  <%= link_to [post, :like], data: { turbo_method: :delete }, class: "like-btn liked" do %>
                    <span class="material-symbols-outlined icon-small">favorite</span>
                    <span class="count-text"><%= post.likes.count %></span>
                  <% end %>
                <% else %>
                  <%= link_to [post, :like], data: { turbo_method: :post }, class: "like-btn" do %>
                    <span class="material-symbols-outlined icon-small">favorite</span>
                    <span class="count-text"><%= post.likes.count %></span>
                  <% end %>
                <% end %>
              <% else %>
                <div class="like-btn disabled">
                  <span class="material-symbols-outlined icon-small">favorite</span>
                  <span class="count-text"><%= post.likes.count %></span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <%# ------------------------------------------ %>

        <p class="post-date"><%= post.created_at.strftime("%Y/%-m/%-d %-H:%M") %></p>
        <div class="post-actions">
          <%= link_to "続きを読む", post_path(post), class: "btn btn-outline btn-info" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="pagination-wrapper">
  <%= paginate @posts %>
</div>