<p class="headline">投稿一覧</h1>

<div class="post-list index-post-list">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="post-image-wrapper">
        <% if post.image.attached? %>
          <%= image_tag post.image %>
        <% else %>
          <%= image_tag "no_image.png", alt: "No image" %>
        <% end %>
      </div>

      <!-- 文字部分 -->
      <div class="post-card">
        <h2 class="card-title">
          <%= link_to post.title, post_path(post) %>
        </h2>
        <p>投稿者：<%= post.user.login_name %></p>
        <p><span class="material-symbols-outlined" style="font-size:16px; vertical-align:middle; margin-right:4px;">
           chat_bubble
           </span>
          <%= post.comments.count %>
        </p>
        <p class="post-date"><%= post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
        <div class="post-actions">
          <%= link_to "続きを読む", post_path(post), class: "btn btn-outline btn-info" %>
        </div>
      </div>

    </div>
  <% end %>
</div>

