<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cat Log Rails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" /> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo
    -track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body>
    <!-- ヘッダー -->
    <header style="padding: 10px; border-bottom: 1px solid #ccc; display:flex; justify-content: space-between; align-items:center;">
  <!-- 左側：タイトル -->
    <h1 class="site-title">
      <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "キャットlog", class: "site-logo" %>
    <% end %>
    </h1>

  <!-- 右側：ログイン / 投稿 / プロフィール / ログアウト -->
  <nav style="display:flex; align-items:center; gap:10px;">
    <% if user_signed_in? %>

      <!-- ユーザー名表示 -->
      <span><%= current_user.login_name %></span>

  <!-- プロフィールアイコン -->
  <div style="margin-left:10px;">
    <% if current_user.profile&.avatar&.attached? && current_user.profile.avatar.persisted? %> #ログインしてるユーザーがプロフィールがあって、画像が選ばれていて、かつその画像がちゃんと保存済みの完成品である時だけ、画像を出す
      <%= link_to account_path do %>
        <%= image_tag url_for(current_user.profile.avatar), class: "header-profile-icon", style: "width:40px; height:40px; border-radius:50%;" %>
      <% end %>
    <% else %>
      <%= link_to account_path do %>
        <%= image_tag "default_cat_blue.png", class: "header-profile-icon", style: "width:40px; height:40px; border-radius:50%;" %>
      <% end %>
    <% end %>
  </div>
    <%= link_to "投稿する", new_post_path, class: "post-action" %>
    <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "log-out-action" %>
    <% else %>
      <!-- ログイン / 新規登録 -->
      <%= link_to "ログイン", new_user_session_path, class: "header-link login-link"  %>
      <%= link_to "新規登録", new_user_registration_path,  class: "header-link signup-link" %>
    <% end %>
  </nav>
</header>
  <%= render 'layouts/flash' %>
    <!-- ページごとのコンテンツ -->
    <main class="content">
      <%= yield %>
    </main>
  </body>
</html>
